<!doctype html>
{% load static %}
<html lang="en">
  <head>



	<base href="/static/ad_min/ad_min_homepage/">
	<title>assessment_manage_reports</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Pool Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //Web-Fonts -->








	<base href="/static/ad_min/all_approve_table/">
  	<title>Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'ad_min/all_approve_table/css/style.css' %}">

	</head>


	<body>

		<script>
			{% for msg in messages %}
				alert('{{ msg }}')
			{% endfor %}
		</script>



 
<!-- main banner -->
<div class="main-top" id="home">
	<!-- header -->
	<header>
		<div class="container-fluid">
			<!-- nav -->
			<nav class="py-lg-4 py-3 px-xl-5 px-lg-3 px-2">
				<div id="logo">
					<h1><a ><span aria-hidden="true"></span>ADMIN</a></h1>
				</div>
				<label for="drop" class="toggle">Menu</label>
				<input type="checkbox" id="drop" />
				<ul class="menu mt-2">
					<li ><a href="/adminhome/">HOME</a></li>
					<li><a href="/requirements/">REQUIREMENTS</a></li>
					<li class="mx-lg-3 mx-md-2 my-md-0 my-1">
						<!-- First Tier Drop Down -->
						<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
						</label>
						<a href="#"  onclick="event.preventDefault();">APPROVAL <span class="fa fa-angle-down" aria-hidden="true"></span></a>
						<input type="checkbox" id="drop-2" />
						<ul>
							<li><a href="/solvoapprove/" class="drop-text">SOLVOLYSIS</a></li>
							<li><a href="/recapprove/" class="drop-text">RECLAMATION</a></li>
							<li ><a href="/fabricapprove/" class="drop-text">FABRICATION</a></li>
							<l><a href="/assessapprove/" class="drop-text">ASSESSMENT</a></li>
						</ul>
					</li>
					<li class="mx-lg-3 mx-md-2 my-md-0 my-1">
						<!-- First Tier Drop Down -->
						<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
						</label>
						<a href="/adminhome/">MANAGE REPORTS <span class="fa fa-angle-down" aria-hidden="true"></span></a>
						<input type="checkbox" id="drop-2" />
						<ul>
							<li><a href="/solvomanage/" class="drop-text">SOLVOLYSIS</a></li>
								<li><a href="/recmanage/" class="drop-text">RECLAMATION</a></li>
								<li><a href="/fabricmanage/" class="drop-text">FABRICATION</a></li>
								<li  class="active"><a href="/assessmanage/" class="drop-text">ASSESSMENT</a></li>
							</ul>
						</li>
						<li><a href="/managestatus/">MANAGE STATUS</a></li>
						<li><a href="/logout/">LOGOUT</a></li>
				</ul>
			</nav>
			<!-- //nav -->
		</div>
	</header>
	<!-- //header -->

		<!-- banner -->
	<div class="main-w3pvt">
		<div class="container">
			<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-6 text-center mb-5">
							<h2 class="heading-section" style="color:white;font-size:40px;">ASSESSMENT REPORT</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table-wrap">
								<table class="table">
								  <thead class="thead-primary">
									<tr>
										<th style="text-align:center;">PROJECT_ID</th>
										<th style="text-align:center;">STATIC(%)</th>
										<th style="text-align:center;">FATIGUE(%)</th>
										<th style="text-align:center;">RESONANCE(%)</th>
										<th style="text-align:center;">ENVIRONMENTAL(%)</th>
										<th style="text-align:center;">IMPACT(%)</th>
										<th style="text-align:center;">AERODYNAMIC(%)</th>
										<th style="text-align:center;">ACOUSTIC(%) </th>
										<th style="text-align:center;">LIGHTENING_STRIKE(%)</th>
										<th style="text-align:center;">NON_DESTRUCTIVE(%)</th>
										<th style="text-align:center;">FULL_SCALE_BLADE(%) </th>
									  </tr>
									</thead>
									<tbody>
									  {% for item in data %}
											  <tr>
											  <th style="text-align:center;">{{ item.project_id }}</th>
											  <th style="text-align:center;">{{ item.static_testing }}</th>
											  <td style="text-align:center;">{{ item.fatigue_testing }}</td>
											  <td style="text-align:center;">{{ item.resonance_testing }}</td>
											  <td style="text-align:center;">{{ item.environmental_testing }}</td>
											  <td style="text-align:center;">{{ item.impact_testing }}</td>
											  <td style="text-align:center;">{{ item.aerodynamic_testing }}</td>
											  <td style="text-align:center;">{{ item.acoustic_testing }}</td>
											  <td style="text-align:center;">{{ item.lightning_strike_testing }}</td>
											  <td style="text-align:center;">{{ item.non_destructive_testing }}</td>
											  <td style="text-align:center;">{{ item.full_scale_blade_testing }}</td>
											  </tr>
									  {% endfor %}
								  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!-- //banner -->
</div>
<!-- //main banner -->




	

	<script src="{% static 'ad_min/all_approve_table/css/js/jquery.min.js' %}"></script>
  <script src="{% static 'ad_min/all_approve_table/css/js/popper.js' %}"></script>
  <script src="{% static 'ad_min/all_approve_table/css/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ad_min/all_approve_table/css/js/i.js' %}"></script>

	</body>
</html>

