<!doctype html>
{% load static %}
<html lang="en">
  <head>
	<base href="/static/assessment/assess_homepage/">
	<title>assess_homepage</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Symphony Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //custom-theme -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<!-- font-awesome-icons -->
	<link href="css/font-awesome.css" rel="stylesheet"> 
	<!-- //font-awesome-icons -->
	<link href="//fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet"></head>
		



  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	

	</head>




<body>
	<script>

		{% for msg in messages %}
			alert('{{ msg }}')
		{% endfor %}

	</script>


<!-- banner -->
	<div class="banner">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand"  style="font-size:60px;">Assessment<span></span></a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--iris">
						<ul class="nav navbar-nav menu__list">
							<li class="menu__item"><a href="/assess_home/" class="menu__link">HOME</a></li>
							<li class="menu__item menu__item--current"><a href="/fabric_final_report/" class="menu__link">FABRIC REPORT</a></li>
							<li class="menu__item"><a href="/assess_scan/" class="menu__link">ASSESS SCAN</a></li>
							<li class="menu__item"><a href="/assess_file/" class="menu__link">ASSESS FILE</a></li>
							<li class="menu__item"><a href="/assess_logout/" class="menu__link">LOGOUT</a></li>
						</ul>
					</nav>
				</div>
			</nav>
			
				
					<section class="ftco-section">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center mb-5" style="margin-top:110px;margin-left:220px;">
									<h2 class="heading-section" style="color:white;font-size: 35px;font-family: sans-serif;">FABRICATION FINAL REPORT</h2>
									<br>
								<br>
								</div>
								
							</div>
							<div class="row" style="margin-top:-100px;margin-left: -100px;">
								<div class="col-md-12">
									<div class="table-wrap" style="overflow-x: auto;">
										<table class="table">
										  <thead class="thead-primary" style="background-color: #fffd00;">
											<tr>
												<th style="text-align:center;color:black;">PROJECT ID</th>
												<th style="text-align:center;color:black;">CARBON FIBRE(Kg)</th>
												<th style="text-align:center;color:black;">FIBRE GLASS(Kg)</th>
												
												<th style="text-align:center;color:black;">BALSA WOOD(Kg)</th>
												<th style="text-align:center;color:black;">PET FOAM(Kg)</th>
												<th style="text-align:center;color:black;">FLAX FIBRE(Kg)</th>
												<th style="text-align:center;color:black;">BASALT FIBRE(Kg)</th>
												<th style="text-align:center;color:black;">PECAN RESIN(Kg)</th>
									
												<th colspan="3" style="text-align:center;color:black;">ACTION</th>
											</tr>
											<tbody style="background-color: white;">
												{% for item in data %}
												{% if item.assess_decrypt is False %}
												<tr>
													<td style="text-align:center;color:black;">{{ item.project_id }}</td>
													<td style="text-align:center;color:black;">{{ item.encrypted_c_carbon_fibre }}</td>
													<td style="text-align:center;color:black;">{{ item.encrypted_f_fibre_glass }}</td>
													<td style="text-align:center;color:black;">{{ item.encrypted_b_balsa_wood }}</td>
													<td style="text-align:center;color:black;">{{ item.encrypted_pet_foam }}</td>
													<td style="text-align:center;color:black;">{{ item.encrypted_flax_fibre }}</td>
													<td style="text-align:center;color:black;">{{ item.encrypted_basalt_fibre }}</td>
													<td style="text-align:center;color:black;">{{ item.encrypted_pecan_resin }}</td>
											
													<td>
														{% if item.assess_get_key is False %}
															<a href="/getkey_assess/{{item.project_id}}/">
																<button role="button" class="action-button"><strong>GetKey</strong></button>
															</a>
														{% else %}
															<p style="color:black;font-size:15px;">GotKey</p>
														{% endif %}
													</td>
											
													<form action="/decrypt_data_assess/{{item.project_id}}/" method="POST">
														{% csrf_token %}
														<td>
															<input 
																placeholder="Decryption Key" 
																required 
																autocomplete="off" 
																name="decryption_key" 
																class="action-input" 
															/>
														</td>
														<td>
															<button role="button" type="submit" class="action-button">
																{% if item.assess_decrypt is False %}
																	<strong>Decrypt</strong>
																{% else %}
																	<strong>Decrypted</strong>
																{% endif %}
															</button>
														</td>
													</form>
												</tr>
												{% else %}
												<tr>
													<td style="text-align:center;color:black;">{{ item.project_id }}</td>
													<td style="text-align:center;color:black;">{{ item.decrypted_c_carbon_fibre }}</td>
													<td style="text-align:center;color:black;">{{ item.decrypted_f_fibre_glass }}</td>
													<td style="text-align:center;color:black;">{{ item.decrypted_b_balsa_wood }}</td>
													<td style="text-align:center;color:black;">{{ item.decrypted_pet_foam }}</td>
													<td style="text-align:center;color:black;">{{ item.decrypted_flax_fibre }}</td>
													<td style="text-align:center;color:black;">{{ item.decrypted_basalt_fibre }}</td>
													<td style="text-align:center;color:black;">{{ item.decrypted_pecan_resin }}</td>
													<td style="text-align:center;color:black;">....</td>
													<td style="text-align:center;color:black;">
														<p style="color:black"><strong>DECRYPTED</strong></p>
													</td>
													<td style="text-align:center;">....</td>
												</tr>
												{% endif %}
												{% endfor %}
										  </tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</section>
					
				</div>
			</div>
		</div>
	</div>
<!-- //banner -->	

 <!-- Custom Styles -->
 <style>
	/* Custom Styles for GetKey and Decrypt Buttons */
	.action-button {
		background-color: #fffd00;
		border: none;
		color: black;
		padding: 5px 10px;
		font-size: 12px;
		cursor: pointer;
		border-radius: 4px;
		transition: background-color 0.3s;
		text-align: center;
		display: inline-block;
	}

	.action-button:hover {
		background-color: #e6e600; /* Slightly darker shade on hover */
	}

	/* Custom Styles for Input Fields */
	.action-input {
		padding: 5px;
		font-size: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		width: 120px; /* Adjust width as needed */
	}
</style>





<!-- flexisel -->
	<script type="text/javascript">
			$(window).load(function() {
				$("#flexiselDemo1").flexisel({
					visibleItems: 3,
					animationSpeed: 1000,
					autoPlay: false,
					autoPlaySpeed: 3000,    		
					pauseOnHover: true,
					enableResponsiveBreakpoints: true,
					responsiveBreakpoints: { 
						portrait: { 
							changePoint:480,
							visibleItems: 1
						}, 
						landscape: { 
							changePoint:640,
							visibleItems:2
						},
						tablet: { 
							changePoint:768,
							visibleItems: 2
						}
					}
				});
				
			});
	</script>
	<script type="text/javascript" src="js/jquery.flexisel.js"></script>
<!-- //flexisel -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smooth-scrolling -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->


	</body>
</html>

