<!doctype html>
{% load static %}
<html lang="en">
  <head>



	<base href="/static/ad_min/ad_min_homepage/">
	<title>solvo_approve_reject</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Pool Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //Web-Fonts -->








	
  	<title>Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'ad_min/all_approve_table/css/style.css' %}">

	</head>


	<body>

		<script>
			{% for msg in messages %}
				alert('{{ msg }}')
			{% endfor %}
		</script>



<!-- main banner -->
<div class="main-top" id="home">
	<!-- header -->
	<header>
		<div class="container-fluid">
			<!-- nav -->
			<nav class="py-lg-4 py-3 px-xl-5 px-lg-3 px-2">
				<div id="logo">
					<h1><a ><span  aria-hidden="true"></span>ADMIN</a></h1>
				</div>
				<label for="drop" class="toggle">Menu</label>
				<input type="checkbox" id="drop" />
				<ul class="menu mt-2">
					<li ><a href="/adminhome/">HOME</a></li>
					<li><a href="/requirements/">REQUIREMENTS</a></li>
					<li class="mx-lg-3 mx-md-2 my-md-0 my-1"> 
						
						<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
						</label>
						<a href="#" onclick="event.preventDefault();">APPROVAL <span class="fa fa-angle-down" aria-hidden="true"></span></a>
				
						<input type="checkbox" id="drop-2" />
						<ul>
							<li class="active"><a href="/solvoapprove/" class="drop-text">SOLVOLYSIS</a></li> <!-- Active class here for Solvolysis -->
							<li><a href="/recapprove/" class="drop-text">RECLAMATION</a></li>
							<li><a href="/fabricapprove/" class="drop-text">FABRICATION</a></li>
							<li><a href="/assessapprove/" class="drop-text">ASSESSMENT</a></li>
						</ul>
					</li>
					<li class="mx-lg-3 mx-md-2 my-md-0 my-1">
						<!-- First Tier Drop Down -->
						<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
						</label>
						<a href="#" onclick="event.preventDefault();">MANAGE REPORTS <span class="fa fa-angle-down" aria-hidden="true"></span></a>
						<input type="checkbox" id="drop-2" />
						<ul>
							<li ><a href="/solvomanage/" class="drop-text" >SOLVOLYSIS</a></li>
								<li><a href="/recmanage/" class="drop-text">RECLAMATION</a></li>
								<li><a href="/fabricmanage/" class="drop-text">FABRICATION</a></li>
								<li><a href="/assessmanage/" class="drop-text">ASSESSMENT</a></li>
							</ul>
						</li>
						<li><a href="/managestatus/">MANAGE STATUS</a></li>
						<li><a href="/logout/">LOGOUT</a></li>
				</ul>
			</nav>
			<!-- //nav -->
		</div>
	</header>
	<!-- //header -->

	<!-- banner -->
	<div class="main-w3pvt">
		<div class="container">
			<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-6 text-center mb-5">
							<h2 class="heading-section" style="color:white;font-size:40px;">SOLVOLYSIS APPROVAL</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table-wrap">
								<table class="table">
								  <thead class="thead-primary" style="text-align:center;">
									<tr>
										<th>RH.ID</th>
										<th>NAME</th>
										<th>EMAIL</th>
										<th>PHONE</th>
										<th colspan="2">ACTION</th>
									</tr>
								  </thead>
								  <tbody>
									
									{% for i in data %}
														<tr>
															<td>{{ i.rh_id }}</td>
															<td>{{ i.name }}</td>
															<td>{{ i.email }}</td>
															<td>{{ i.phone }}</td>
		
															{% if i.approve is False and i.reject is False %}
																<td>
																	<a href="/approve/{{i.id}}/">
																		<button class="btn-approve">Approve</button>
																	</a>
																</td>
																<td>
																	<a href="/reject/{{i.id}}/">
																		<button class="btn-reject">Reject</button>
																	</a>
																</td>
															{% endif %}

															{% if i.approve is True %}
																<td>
																	<p class="approved"><strong>APPROVED</strong></p>
																</td>
																<td>
																	<p class="no-action"><strong>NO ACTION</strong></p>
																</td>
															{% endif %}

															{% if i.reject is True %}
																<td>
																	<p class="no-action"><strong>NO ACTION</strong></p>
																</td>
																<td>
																	<p class="rejected"><strong>REJECTED</strong></p>
    															</td>
															{% endif %}
										{% endfor %}

								  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!-- //banner -->
</div>
<!-- //main banner -->

<style>
	.btn-approve, .btn-reject {
    background-color: #e39919; /* Normal button color */
    color: white; /* Text color */
    border:#1089ff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}

.btn-approve:hover, .btn-reject:hover {
    background-color:#e39919; /* Hover button color */
}

.approved {
    color: green; /* Approved text color */
}

.no-action {
    color: red; /* No action text color */
}

.rejected {
    color: green; /* Rejected text color */
}

</style>





	

	<script src="{% static 'ad_min/all_approve_table/css/js/jquery.min.js' %}"></script>
  <script src="{% static 'ad_min/all_approve_table/css/js/popper.js' %}"></script>
  <script src="{% static 'ad_min/all_approve_table/css/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ad_min/all_approve_table/css/js/i.js' %}"></script>

	</body>
</html>

